SELECT [ID]
      ,[ismark]
      ,[Код]
      ,[Наименование]
      ,[ЭтоГруппа]
      ,[РодительID]
      ,[РодительIDD]
      ,[ДатаВыдачиПаспорта]
      ,[Должность]
      ,[КемВыданПаспорт]
      ,[КонтрагентID]
      ,[КонтрагентIDD]
      ,[Контрагент_ЭтоГруппа]
      ,[НомерПаспорта]
      ,[СерияПаспорта]
      ,[IDD]
      ,[Телефон]
  FROM [RIAS].[dbo].[Бух_Справочник_Сотрудники]
  Where ЭтоГруппа = 2
  and НомерПаспорта = '550574'
  and (СерияПаспорта = '04 13' or СерияПаспорта = '0413')