IF OBJECT_ID(N'tempdb..#ИД_Договров', N'U') IS NOT NULL 
DROP TABLE #ИД_Договров;
		 
	SELECT DISTINCT
		ИД_Договоров_Регистров.ДоговорID AS ДоговорРегистраID
	INTO #ИД_Договров
	FROM
	(SELECT DISTINCT 
			ВзаиморасчетыПокупателей.SP3810 AS ДоговорID
		FROM
			dbo.RG169 AS ВзаиморасчетыПокупателей WITH (nolock)
		WHERE
			YEAR(ВзаиморасчетыПокупателей.PERIOD)=YEAR(getdate())				
	UNION
	SELECT DISTINCT 
			ВзаиморасчетыПоставщиков.SP3809 AS ДоговорID
		FROM
			dbo.RG933 AS ВзаиморасчетыПоставщиков WITH (nolock)
		WHERE
			YEAR(ВзаиморасчетыПоставщиков.PERIOD)=YEAR(getdate())) AS ИД_Договоров_Регистров
			
SELECT 
    Бух_Справочник_Договора.Код
  , Бух_Справочник_Договора.НомерДоговора
  , Бух_Справочник_Договора.Наименование
  , Бух_Справочник_Контрагенты.Код AS КонтрагентыКод
  , Бух_Справочник_Контрагенты.Наименование AS Контрагент
  , Бух_Справочник_Контрагенты.ИНН AS КонтрагентИНН
  , Бух_Справочник_Фирмы.Наименование AS Организация
  , Бух_Справочник_Фирмы.ИНН AS ОрганизацияИНН
  , Бух_Справочник_Договора.ID
  , Бух_Справочник_Договора.IDD
  , Бух_Справочник_Договора.ismark
  , Бух_Справочник_Договора.ВладелецID
  , Бух_Справочник_Договора.ВладелецIDD
  , Бух_Справочник_Договора.ФирмаID
  , Бух_Справочник_Договора.ФирмаIDD
  , Бух_Справочник_Договора.ВидДоговораID
  , Бух_Справочник_Договора.ВидДоговора_Идентификатор
  , Бух_Справочник_Договора.ТипДоговораID
  , Бух_Справочник_Договора.ТипДоговора_Идентификатор
  , Бух_Справочник_Договора.ДатаОкончания
  , Бух_Справочник_Договора.ДатаПодписания
  , Бух_Справочник_Договора.ВалютаID
  , Бух_Справочник_Договора.ВалютаIDD
  , Бух_Справочник_Договора.СтруктурнаяЕдиницаID
  , Бух_Справочник_Договора.СтруктурнаяЕдиницаIDD
  , Бух_Справочник_Договора.СтруктурнаяЕдиница_ЭтоГруппа
  , Бух_Справочник_Договора.Счет91
  , Бух_Справочник_Договора.СчетРасчетов
  , Бух_Справочник_Договора.СчетАвансов
  , Бух_Справочник_Договора.СчетОтнесенияУслуг
  , Бух_Справочник_Договора.АгентскийДоговор
  , Бух_Справочник_Договора.Основной
  , Бух_Справочник_Договора.ОстатокСрокаГодности
  , Бух_Справочник_Договора.ОформлятьВозвратыОбратнойРеализацией
  , Бух_Справочник_Договора.ПочтовыйАдрес
  , Бух_Справочник_Договора.Телефоны
  , Бух_Справочник_Договора.ПогашатьТовары
  , Бух_Справочник_Договора.Стоимость
  , Бух_Справочник_Договора.Импорт
  , Бух_Справочник_Договора.Услуги
  , Бух_Справочник_Договора.СпособОтнесенияУслугПоДоговоруID
  , Бух_Справочник_Договора.СпособОтнесенияУслугПоДоговору_Идентификатор
  , Бух_Справочник_Договора.НаличиеВозвратнойТары
  , Бух_Справочник_Договора.СПереходомПраваСобственностиНаТару
  , Бух_Справочник_Договора.СпособНачисления
  , Бух_Справочник_Договора.ЗачитыватьВОтчетеРеализатора
  , Бух_Справочник_Договора.Процент
  , Бух_Справочник_Договора.СрокОтсрочкиПлатежа
  , Бух_Справочник_Договора.Рабочих
  , Бух_Справочник_Договора.ТребуетсяСчетФактура
  , Бух_Справочник_Договора.ОтсрочкаПлатежаОтДатыПоставщика
  , Бух_Справочник_Договора.ПериодическийДоговор
  , Бух_Справочник_Договора.Период
  , Бух_Справочник_Договора.ДатаСохраненияПараметровВзаиморасчетов
  , Бух_Справочник_Договора.РучноеЗакрытие
  , Бух_Справочник_Договора.РучноеЗакрытиеНеклассифицированныхПлатежей
  , Бух_Справочник_Договора.РучноеЗакрытиеПретензий
  , Бух_Справочник_Договора.ЛимитЗадолженности
  , Бух_Справочник_Договора.Номенклатура
  , Бух_Справочник_Договора.КонтрольНоменклатурыПоДоговору
  , Бух_Справочник_Договора.КонтрольНоменклатурыПоЗаказу
  , Бух_Справочник_Договора.КонтрольЦенПоДоговору
  
FROM
	#ИД_Договров AS ИДДоговоров
	LEFT OUTER JOIN Бух_Справочник_Договора 
			ON ИДДоговоров.ДоговорРегистраID = Бух_Справочник_Договора.ID
	LEFT OUTER JOIN
		Бух_Справочник_Фирмы
			ON
				Бух_Справочник_Договора.ФирмаID = Бух_Справочник_Фирмы.ID
	LEFT OUTER JOIN
		Бух_Справочник_Контрагенты
			ON
				Бух_Справочник_Договора.ВладелецID = Бух_Справочник_Контрагенты.ID
				
WHERE
	--Бух_Справочник_Договора.ФирмаIDD IS NULL 
	--OR Бух_Справочник_Договора.ВладелецIDD IS NULL
	Бух_Справочник_Договора.IDD = ''