USE RIASSE

SET NOCOUNT ON

SELECT
	CAST(Бух_Документ_Списание.closed AS INT) AS closed,
	CAST(Бух_Документ_Списание.ismark AS INT) AS ismark,
	Бух_Документ_Списание.iddoc AS iddoc,
	Бух_Документ_Списание.IDD AS IDD,
	Бух_Документ_Списание.НомерДок AS НомерДок,
	Бух_Документ_Списание.ДатаДок AS ДатаДок,
    Бух_Документ_Списание.ФирмаIDD AS ФирмаIDD,
    Бух_Документ_Списание.СкладIDD AS СкладIDD,
	LOWER(convert(varchar(32),substring(CONVERT(varchar(max), HashBytes('MD5', Бух_Документ_Списание.ФирмаIDD+Бух_Документ_Списание.СкладIDD),1), 18, 32))) AS ХешСкладаIDD, 
	LOWER(convert(varchar(32),substring(CONVERT(varchar(max), HashBytes('MD5', Бух_Документ_Списание.ФирмаIDD+ПодразделенияТорговли.IDD),1), 18, 32))) AS ХешПодразделенияIDD, 
	Бух_Документ_Списание.Сумма0+Бух_Документ_Списание.Сумма10+Бух_Документ_Списание.Сумма18 AS СуммаДокумента, 
	Бух_Документ_Списание.Комментарий AS Комментарий,
	Бух_Документ_Списание.ВидРасходаТабл AS ВидРасходаТабл, 
	LEFT(Бух_Документ_Списание.ДокументОснованиеID13, 4) AS ДокументОснованиеID13,
	Бух_Документ_Списание.СтатьяСписания_Идентификатор AS СтатьяСписания_Идентификатор,
	Бух_Документ_Списание.ПричинаСписания_Идентификатор
FROM 
	dbo.Бух_Документ_Списание AS Бух_Документ_Списание
	LEFT JOIN Бух_Справочник_МестаХранения AS МестаХранения with (forceseek)
		ON (Бух_Документ_Списание.СкладID = МестаХранения.ID)
	LEFT JOIN Бух_Справочник_Подразделения AS ПодразделенияТорговли with (forceseek)
		ON МестаХранения.ВладелецID = ПодразделенияТорговли.ID
WHERE
	Бух_Документ_Списание.date_time_iddoc >= '20180101'
	AND Бух_Документ_Списание.date_time_iddoc <= '20180131z'
	AND LEFT(Бух_Документ_Списание.ДокументОснованиеID13, 4) = ' 2RG' --Значит документ введен на основании инвентарицзации
	--AND Бух_Документ_Списание.НомерДок = 'ПНСпсЭ27-000007'
	AND (Бух_Документ_Списание.ВидРасходаТабл <> 2 AND Бух_Документ_Списание.ВидРасходаТабл <> 3) --0-Невыбрано, 1-Товары, 2-Материалы, 3-ОС(Основные средства)
	--Бух_Документ_Списание.ВидРасходаТабл = 1 --0-Невыбрано, 1-Товары, 2-Материалы, 3-ОС(Основные средства)
	--AND Бух_Документ_Списание.СтатьяСписания_Идентификатор = 'ПоИнвентаризации'
	--AND Бух_Документ_Списание.ПричинаСписания_Идентификатор = 'Недостача'
	AND Бух_Документ_Списание.ФирмаIDD IN ('10015480660352695')
