USE RIASSE
SET NOCOUNT ON
SELECT 
	   [ID]
      ,[ismark]
      ,[Код]
   	  ,[IDD]
      ,[Наименование]
      ,[ВладелецID]
      ,[ВладелецIDD]
      ,[ФирмаID]
      ,[ФирмаIDD]
      ,[АгентскийДоговор]
      ,[ДатаОкончания]
      ,[ДатаПодписания]
      ,[НомерДоговора]
      ,[Основной]
      ,[ВидДоговораID]
      ,[ВидДоговора_Идентификатор]
      ,[ТипДоговораID]
      ,[ТипДоговора_Идентификатор]
      ,[Стоимость]
      ,[Импорт]
      ,[Услуги]
 
  FROM [RIAS].[dbo].[Бух_Справочник_Договора]
  
  WHERE 
	[IDD] = ''
	--[ФирмаIDD] = ''
	AND [ВладелецIDD] = '50000000451921952'