USE RIASSE

SET NOCOUNT ON
	
IF OBJECT_ID(N'tempdb..#СкладыИПодразделения', N'U') IS NOT NULL 
DROP TABLE #СкладыИПодразделения;
	
SELECT
	МестаХранения.IDD AS СкладИДД,
	ПодразделенияТорговли.IDD AS ПодразделенияИДД
INTO #СкладыИПодразделения
FROM
	Бух_Справочник_МестаХранения AS МестаХранения
	LEFT JOIN Бух_Справочник_Подразделения AS ПодразделенияТорговли
		ON МестаХранения.ВладелецIDD = ПодразделенияТорговли.IDD 	
	
SELECT 
	ДневныеОтчетыКассовойСмены.Den,
	ДневныеОтчетыКассовойСмены.ФирмаIDD,
	ДневныеОтчетыКассовойСмены.СкладIDD,
	ДневныеОтчетыКассовойСмены.ХешСкладаIDD,
	ДневныеОтчетыКассовойСмены.ХешПодразделенияIDD,
	MAX(ДневныеОтчетыКассовойСмены.ДокIDD) AS IDD,
	MAX(ДневныеОтчетыКассовойСмены.Номер) AS НомерДок,
	MAX(ДневныеОтчетыКассовойСмены.Дата) AS ДатаДок,
	MAX(ДневныеОтчетыКассовойСмены.СуммаДокумента) AS СуммаДокумента

FROM
	(SELECT 
		LEFT(ОтчетКассовойСмены.date_time_iddoc, 8) AS Den,
		ОтчетКассовойСмены.ФирмаIDD AS ФирмаIDD,
		ОтчетКассовойСмены.СкладIDD AS СкладIDD,
		SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('MD5', ОтчетКассовойСмены.ФирмаIDD+ОтчетКассовойСмены.СкладIDD)), 18, 32) AS ХешСкладаIDD,	
		SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('MD5', ОтчетКассовойСмены.ФирмаIDD+ТаблицаСкладовПодразделений.ПодразделенияИДД)), 18, 32) AS ХешПодразделенияIDD,
 		ОтчетКассовойСмены.IDD AS ДокIDD,
		ОтчетКассовойСмены.НомерДок AS Номер,
		ОтчетКассовойСмены.ДатаДок AS Дата,
		ОтчетКассовойСмены.Сумма AS СуммаДокумента
  	FROM 
		dbo.Бух_Документ_ОтчетКассовойСмены AS ОтчетКассовойСмены
			LEFT JOIN #СкладыИПодразделения AS ТаблицаСкладовПодразделений
			ON ОтчетКассовойСмены.СкладIDD = ТаблицаСкладовПодразделений.СкладИДД
	WHERE
		ОтчетКассовойСмены.date_time_iddoc >= '20180114'
		AND ОтчетКассовойСмены.date_time_iddoc <= '20180114z'
		AND ОтчетКассовойСмены.ФирмаIDD = '10015480660352695'
		AND ОтчетКассовойСмены.closed &1=1
		AND ОтчетКассовойСмены.Сумма <> 0
) AS ДневныеОтчетыКассовойСмены

GROUP BY
	Den,
	ФирмаIDD,
	СкладIDD,
	ХешСкладаIDD,
	ХешПодразделенияIDD

ORDER BY
	Den,
	ФирмаIDD,
	ХешПодразделенияIDD,
	НомерДок	
