USE RIASSE

SET NOCOUNT ON

DECLARE @ТекущаяДата datetime
SET @ТекущаяДата = '2921-02-20'

--DECLARE @ТоварIDD char(17)
--SET @ТоварIDD = (SELECT TOP 1 Справочник_Номенклатура.IDD FROM Бух_Справочник_Номенклатура AS Справочник_Номенклатура WHERE Справочник_Номенклатура.Код = 216186) 

DECLARE @ДатаДобавления datetime
SET @ДатаДобавления = GETDATE()
 
SELECT 
	@ДатаДобавления AS ДатаДобавления
	,Справочник_Номенклатура.Код AS ТоварКод
	,Справочник_Номенклатура.Наименование AS ТоварНаименование
	,[ТоварIDD]
	,[ТипыРаскрасокТоваровIDD]
	,[ТипМагазина]
	,[Приоритет]
	,[Цвет]
FROM 
	[RIASSE].[dbo].[ColorColumnTables2] AS ColorColumnTables 
	LEFT JOIN dbo.Бух_Справочник_Номенклатура AS Справочник_Номенклатура
		ON ColorColumnTables.ТоварIDD = Справочник_Номенклатура.IDD 
where 
	--[ТоварIDD] = @ТоварIDD
	[ТоварIDD] IN (SELECT Справочник_Номенклатура.IDD FROM Бух_Справочник_Номенклатура AS Справочник_Номенклатура WHERE Справочник_Номенклатура.Код IN ('547099'))

ORDER BY
	[ТипМагазина]
	,[ТоварIDD]
	,[Приоритет]