SELECT
       [iddoc] 
       , CASE
                  WHEN[СтавкаНДСID] = '    L9   '
                           THEN '_0000000000000000'
                  WHEN[СтавкаНДСID] = '    LB   '
                           THEN '_0000000000000010'
                  WHEN[СтавкаНДСID] = '   5ZQ   '
                           THEN '_0000000000000018'
                  WHEN[СтавкаНДСID] = '    LA   '
                           THEN '_0000000000000020'
						   ELSE '00000000000000000'
         END AS ТоварIDD
       , [СтавкаНДСID]
       , SUM([Количество]) AS Количество
       , AVG([Цена]) AS Цена
       , SUM([Сумма]) AS Сумма
       , SUM([НДС]) AS НДС


FROM
         [Бух_ДокументСтроки_РасходнаяНакладная]

WHERE
	iddoc =	' 5S1ZL   '

GROUP BY
         iddoc
       , CASE
                  WHEN[СтавкаНДСID] = '    L9   '
                           THEN '_0000000000000000'
                  WHEN[СтавкаНДСID] = '    LB   '
                           THEN '_0000000000000010'
                  WHEN[СтавкаНДСID] = '   5ZQ   '
                           THEN '_0000000000000018'
                  WHEN[СтавкаНДСID] = '    LA   '
                           THEN '_0000000000000020'
         END
       , СтавкаНДСID