SET NOCOUNT ON
			SELECT 
			    Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.iddoc,
			   CASE
				WHEN Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.СтавкаНДСID = '    L9   ' 
					  OR Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.СтавкаНДСID = '     0   '
					THEN '@0000000000000000'
					WHEN Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.СтавкаНДСID = '    LB   '
					THEN '@0000000000000010'
					WHEN Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.СтавкаНДСID = '   5ZQ   '
					THEN '@0000000000000018'
					WHEN Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.СтавкаНДСID = '    LA   '
					THEN '@0000000000000020'
			       ELSE '@0000000000000001'
				END AS ТоварIDD,
			   Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.СтавкаНДСID AS СтавкаНДСID,
			   Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.Количество_т AS Количество,
				CASE
			   	WHEN Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.Количество_т = 0 THEN
			    	0
			    	ELSE Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.Сумма_т / Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.Количество_т
			   END AS Цена,
			   Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.Сумма_т AS Сумма,
			   Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.НДС_т AS НДС,
			   CASE
			   WHEN Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.РегПартии_Стоимость < 0 THEN
			        Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.РегПартии_Стоимость *-1
			   ELSE 
			        Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.РегПартии_Стоимость
			   END AS Себестоимость
			
			FROM Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная AS Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная
			
			WHERE 
				Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.iddoc=' 6PDM1   '
			   AND Бух_ДокументСтрокиПоСтавкамНДС_РасходнаяНакладная.Количество_т <> 0 
