
SELECT 
	 [date_time_iddoc]
    ,[ТипУчета]
    ,[ФинУчет]
	,[флагВыгружатьВБухгалтерию]
    ,[ТипСписания]
	,[ВидРасходаТабл]
    ,[iddoc]
    ,[IDD]
    ,[НомерДок]
    ,[ДатаДок]
    ,[ФирмаIDD]
	,[ПодразделениеIDD]
	,[СкладIDD]	    
	,[СтатьяСписанияID]
	,[СтатьяСписания_Идентификатор]
	,[ПричинаСписанияID]
    ,[ПричинаСписания_Идентификатор]
	,[КоррСчетID]
	,[КоррСчетIDD]
    ,[Основание]
    ,[Комментарий]
	,[ЦеныЗаписаны]
	,[Сумма0]
	,[Сумма10]
	,[Сумма18]
    ,[НДС10]
    ,[НДС18]
	,[СуммаЗак]
  	
FROM 
	dbo.Бух_Документ_Списание AS Бух_Документ_Списание

WHERE
	Бух_Документ_Списание.date_time_iddoc >='20171001'  and Бух_Документ_Списание.date_time_iddoc <='20171231z'
	--AND Бух_Документ_Списание.НомерДок = 'АЛСпсЦ01-000027'
	AND Бух_Документ_Списание.ВидРасходаТабл = 2
	
ORDER BY 
	Бух_Документ_Списание.date_time_iddoc