USE RIASSE

SET NOCOUNT ON

SELECT 
	Бух_Документ_ПриходнаяНакладная.date_time_iddoc
	,Бух_Документ_ПриходнаяНакладная.iddoc AS iddoc
	,'O1'+'  C2'+Бух_Документ_ПриходнаяНакладная.iddoc AS PARENTVAL 
	,Бух_Документ_ПриходнаяНакладная.IDD AS IDD
	,ISNULL(Документ_РегистрацияСчета_фактуры.IDD, '') AS IDD_СчетФактураВходящая
	,Бух_Документ_ПриходнаяНакладная.НомерДок AS НомерДок 
	,Бух_Документ_ПриходнаяНакладная.ДатаДок AS ДатаДок
	,CAST(Бух_Документ_ПриходнаяНакладная.closed AS INT) AS closed
	,CAST(Бух_Документ_ПриходнаяНакладная.ismark AS INT) AS ismark
	,Бух_Документ_ПриходнаяНакладная.ПризнакНакладной_Идентификатор AS ПризнакНакладной
	,Бух_Документ_ПриходнаяНакладная.ФирмаIDD AS ФирмаIDD
	,Бух_Документ_ПриходнаяНакладная.СкладIDD AS СкладIDD
	,LOWER(convert(varchar(32),substring(CONVERT(varchar(max), HashBytes('MD5', Бух_Документ_ПриходнаяНакладная.ФирмаIDD+Бух_Документ_ПриходнаяНакладная.СкладIDD),1), 18, 32))) AS ХешСкладаIDD 
	,LOWER(convert(varchar(32),substring(CONVERT(varchar(max), HashBytes('MD5', Бух_Документ_ПриходнаяНакладная.ФирмаIDD+ПодразделенияТорговли.IDD),1), 18, 32))) AS ХешПодразделенияIDD 
	,Бух_Документ_ПриходнаяНакладная.КлиентIDD AS КлиентIDD
	,Бух_Документ_ПриходнаяНакладная.ДоговорIDD AS ДоговорIDD
	,Бух_Документ_ПриходнаяНакладная.Комментарий AS Комментарий	
	,Бух_Документ_ПриходнаяНакладная.ВидПоступленияТабл AS ВидПоступленияТабл
	,Бух_Документ_ПриходнаяНакладная.ДатаДокВходящий AS ДатаДокВходящий
	,Бух_Документ_ПриходнаяНакладная.ДатаСчетаФактуры AS ДатаСчетаФактуры
	,Бух_Документ_ПриходнаяНакладная.НомерДокВходящий AS НомерДокВходящий
	,Бух_Документ_ПриходнаяНакладная.НомерСчетаФактуры AS НомерСчетаФактуры
	,Бух_Документ_ПриходнаяНакладная.СуммаДокумента AS СуммаДокумента
FROM 
	dbo.Бух_Документ_ПриходнаяНакладная AS Бух_Документ_ПриходнаяНакладная
	LEFT JOIN dbo.Бух_Документ_РегистрацияСчета_фактуры AS Документ_РегистрацияСчета_фактуры
		ON Бух_Документ_ПриходнаяНакладная.IDD = Документ_РегистрацияСчета_фактуры.ДокументОснованиеIDD  
   	LEFT JOIN Бух_Справочник_МестаХранения AS МестаХранения with (forceseek)
		ON Бух_Документ_ПриходнаяНакладная.СкладID = МестаХранения.ID
   	LEFT JOIN Бух_Справочник_Подразделения AS ПодразделенияТорговли with (forceseek)
		ON МестаХранения.ВладелецID = ПодразделенияТорговли.ID
WHERE 
	Бух_Документ_ПриходнаяНакладная.date_time_iddoc >='20190701'
	AND Бух_Документ_ПриходнаяНакладная.date_time_iddoc <='20190701z'
	AND (Бух_Документ_ПриходнаяНакладная.ВидПоступленияТабл <> '12'	  --Товары Инт.магазина
		AND Бух_Документ_ПриходнаяНакладная.ВидПоступленияТабл <> '6' --Бонус
		AND Бух_Документ_ПриходнаяНакладная.ВидПоступленияТабл <> '7' --Минусовой сч-фак
		AND Бух_Документ_ПриходнаяНакладная.ВидПоступленияТабл <> '9' --Только остатки
		)
	AND (Бух_Документ_ПриходнаяНакладная.closed <> 0
			OR Бух_Документ_ПриходнаяНакладная.ismark <> 0
		)
	AND Бух_Документ_ПриходнаяНакладная.IDD <> ''
	--AND Бух_Документ_ПриходнаяНакладная.ФирмаIDD IN ('99000050003469724')
ORDER BY 
	ДатаДок,
	НомерДок
