	SET NOCOUNT ON
	
	SELECT
	   Бух_Документ_РасходнаяНакладная.iddoc AS iddoc,
	   Бух_Документ_РасходнаяНакладная.IDD AS IDD,
	   Бух_Документ_РасходнаяНакладная.НомерДок AS НомерДок,
	   Бух_Документ_РасходнаяНакладная.ДатаДок AS ДатаДок,
	   Бух_Документ_Счет_фактура.НомерДок AS СчетФактураНомер,
	   Бух_Документ_Счет_фактура.ДатаДок AS СчетФактураДата,
	   Бух_Документ_РасходнаяНакладная.ПризнакНакладной_Идентификатор AS ПризнакНакладной,
	   Бух_Документ_РасходнаяНакладная.ФирмаIDD AS ФирмаIDD,
	   Бух_Документ_РасходнаяНакладная.ВидРасходаТабл AS ВидРасходаТабл,
	   Бух_Документ_РасходнаяНакладная.ДоговорIDD AS ДоговорIDD,
	   Бух_Документ_РасходнаяНакладная.КлиентIDD AS КлиентIDD,
	   Бух_Документ_РасходнаяНакладная.Комментарий AS Комментарий,
	   Бух_Документ_РасходнаяНакладная.СкладIDD AS СкладIDD,
	   Бух_Документ_РасходнаяНакладная.ТорговыйПредставительIDD AS ТорговыйПредставительIDD,
	   Бух_Документ_РасходнаяНакладная.ГрузополучательIDD AS ГрузополучательIDD,
	   Бух_Документ_РасходнаяНакладная.АдресГрузополучателяIDD AS АдресГрузополучателяIDD,
	   Бух_Документ_РасходнаяНакладная.Сумма AS СуммаДокумента,
	   Бух_Документ_РасходнаяНакладная.НДС AS НДС 
	
	FROM Бух_Документ_РасходнаяНакладная 
	LEFT JOIN Бух_Документ_Счет_фактура
	   	ON Бух_Документ_РасходнаяНакладная.IDD = Бух_Документ_Счет_фактура.ДокументОснованиеIDD
	
	WHERE
		Бух_Документ_РасходнаяНакладная.ВидРасходаТабл <> 3		--Тара
    	AND Бух_Документ_РасходнаяНакладная.ВидРасходаТабл <> 4		--Бонус
		AND Бух_Документ_РасходнаяНакладная.ВидРасходаТабл <> 9		--Только остатки
		AND Бух_Документ_РасходнаяНакладная.ВидРасходаТабл <> 10	--Товары интернет магазина
		AND Бух_Документ_РасходнаяНакладная.date_time_iddoc >= '20180101'
		AND Бух_Документ_РасходнаяНакладная.date_time_iddoc <= '20181231r'
		AND (Бух_Документ_РасходнаяНакладная.closed <> 0
        		OR Бух_Документ_РасходнаяНакладная.ismark <> 0
		)
		--AND Бух_Документ_РасходнаяНакладная.ФирмаIDD <> '10015480680368847'  -- ИП Подпорина Н.А.
		--AND Бух_Документ_РасходнаяНакладная.ФирмаIDD <> '10015480748078260'  -- ИП Лобанова Е.В.
		--AND Бух_Документ_РасходнаяНакладная.ФирмаIDD <> '10015480626553528'  -- ООО М-Актив
		--AND Бух_Документ_РасходнаяНакладная.IDD = '90000000295523700'
		AND Бух_Документ_РасходнаяНакладная.НомерДок = 'МтРНкЦ01-011136'	
	ORDER BY 
		Бух_Документ_РасходнаяНакладная.date_time_iddoc
