SELECT DISTINCT
	ДанныеВзаиморасчетов.ФирмаIDD,
	ДанныеВзаиморасчетов.КлиентIDD,
	ДанныеВзаиморасчетов.ДоговорIDD,
	Договора.Основной,
	Договора.Наименование
	
FROM 
(
SELECT DISTINCT 
	ВзаиморасчетыПоставщиковОстатки.ФирмаIDD,
	ВзаиморасчетыПоставщиковОстатки.КлиентIDD,
	ВзаиморасчетыПоставщиковОстатки.ДоговорIDD
FROM 
  dbo.Бух_РегистрОстатки_ВзаиморасчетыПоставщиков AS ВзаиморасчетыПоставщиковОстатки
WHERE
	ВзаиморасчетыПоставщиковОстатки.ФирмаIDD IS NOT NULL
	AND ВзаиморасчетыПоставщиковОстатки.КлиентIDD IS NOT NULL
	AND ВзаиморасчетыПоставщиковОстатки.ДоговорIDD IS NOT NULL
	AND ВзаиморасчетыПоставщиковОстатки.period = '20171101'

UNION ALL

SELECT DISTINCT
	ВзаиморасчетыПоставщиков.ФирмаIDD,
	ВзаиморасчетыПоставщиков.КлиентIDD,
	ВзаиморасчетыПоставщиков.ДоговорIDD
FROM
	dbo.Бух_РегистрДвижения_ВзаиморасчетыПоставщиков AS ВзаиморасчетыПоставщиков
WHERE
	ВзаиморасчетыПоставщиков.ФирмаIDD IS NOT NULL
	AND ВзаиморасчетыПоставщиков.КлиентIDD IS NOT NULL
	AND ВзаиморасчетыПоставщиков.ДоговорIDD IS NOT NULL
	AND ВзаиморасчетыПоставщиков.date_time_iddoc >= '20171201' AND ВзаиморасчетыПоставщиков.date_time_iddoc <= '20171231'

UNION ALL

SELECT DISTINCT
	ВзаиморасчетыПокупателейОстатки.ФирмаIDD,
	ВзаиморасчетыПокупателейОстатки.ДоговорIDD,
	ВзаиморасчетыПокупателейОстатки.КлиентIDD
FROM 
	dbo.Бух_РегистрОстатки_ВзаиморасчетыПокупателей AS ВзаиморасчетыПокупателейОстатки
WHERE
	ВзаиморасчетыПокупателейОстатки.ФирмаIDD IS NOT NULL
	AND ВзаиморасчетыПокупателейОстатки.КлиентIDD IS NOT NULL
	AND ВзаиморасчетыПокупателейОстатки.ДоговорIDD IS NOT NULL
	AND ВзаиморасчетыПокупателейОстатки.period = '20171201'

UNION ALL

SELECT DISTINCT
	ВзаиморасчетыПокупателей.ФирмаIDD,
	ВзаиморасчетыПокупателей.КлиентIDD,
	ВзаиморасчетыПокупателей.ДоговорIDD
FROM
	dbo.Бух_РегистрДвижения_ВзаиморасчетыПокупателей AS ВзаиморасчетыПокупателей
WHERE
	ВзаиморасчетыПокупателей.ФирмаIDD IS NOT NULL
	AND ВзаиморасчетыПокупателей.КлиентIDD IS NOT NULL
	AND ВзаиморасчетыПокупателей.ДоговорIDD IS NOT NULL
	AND ВзаиморасчетыПокупателей.date_time_iddoc >= '20171201' AND ВзаиморасчетыПокупателей.date_time_iddoc <= '20171231'	

) AS ДанныеВзаиморасчетов

LEFT JOIN
	dbo.Бух_Справочник_Договора AS Договора
		ON ДанныеВзаиморасчетов.ДоговорIDD = Договора.IDD

WHERE
	Договора.Основной = 1

ORDER BY
	ДанныеВзаиморасчетов.ФирмаIDD,
	ДанныеВзаиморасчетов.КлиентIDD