
USE RIASSE

SET NOCOUNT ON

SELECT
	--RIGHT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 9) AS ДокID13,
	--LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4) AS ТипДок,
	--Бух_ДокументСтроки_РозничнаяВыручка.ДокОтчетКассовойСменыID,
	--Бух_Документ_РозничнаяВыручка.iddoc AS iddoc,
	CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.ТоварIDD
		WHEN '  C2' THEN Бух_ДокументСтроки_ПриходнаяНакладная.ТоварIDD
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.ТоварIDD
	END AS ТоварIDD,
	SUM(CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.Количество
		WHEN '  C2' THEN -Бух_ДокументСтроки_ПриходнаяНакладная.Количество
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.Количество
	END) AS Количество,
	SUM(CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.Сумма
		WHEN '  C2' THEN -Бух_ДокументСтроки_ПриходнаяНакладная.Сумма
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.Сумма
	END) AS	Сумма,
	SUM(CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.НДС
		WHEN '  C2' THEN -Бух_ДокументСтроки_ПриходнаяНакладная.НДС
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.НДС
	END) AS НДС
FROM 
	dbo.Бух_Документ_РозничнаяВыручка AS Бух_Документ_РозничнаяВыручка 
		LEFT JOIN dbo.Бух_ДокументСтроки_РозничнаяВыручка AS Бух_ДокументСтроки_РозничнаяВыручка with (forceseek)
			ON Бух_Документ_РозничнаяВыручка.iddoc = Бух_ДокументСтроки_РозничнаяВыручка.iddoc
		LEFT JOIN dbo.Бух_ДокументСтроки_РасходнаяНакладная AS Бух_ДокументСтроки_РасходнаяНакладная with (forceseek)
			ON	RIGHT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 9) = Бух_ДокументСтроки_РасходнаяНакладная.iddoc
		LEFT JOIN dbo.Бух_ДокументСтроки_ПриходнаяНакладная AS Бух_ДокументСтроки_ПриходнаяНакладная with (forceseek)
			ON RIGHT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 9) = Бух_ДокументСтроки_ПриходнаяНакладная.iddoc	 
		LEFT JOIN dbo.Бух_ДокументСтроки_ОтчетКассовойСмены AS Бух_ДокументСтроки_ОтчетКассовойСмены with (forceseek)
			ON (Бух_ДокументСтроки_РозничнаяВыручка.ДокОтчетКассовойСменыID = Бух_ДокументСтроки_ОтчетКассовойСмены.iddoc
				--//Убираем "Подарочный сертификат Эльсити" ...
				--//Убираем "Выгодные рубли" 10015480528380124
				--//Убираем "Пополнение карты Копилки" 10015480549121976
				AND Бух_ДокументСтроки_ОтчетКассовойСмены.ТоварIDD NOT IN ('10015480549121976', '10015480528380124', '10015480526183791', '10015480554470865', '10015480563099824', '10015480585690950', '10015480563099821', '10015480526183882', '10015480526183880')
				AND Бух_ДокументСтроки_ОтчетКассовойСмены.СтатусЧека_Идентификатор IN ('Продажа', 'ОтмененнаяПродажа', 'Возврат'))	 
WHERE
	Бух_Документ_РозничнаяВыручка.idd = '10015480868094015'
	--AND Бух_Документ_РозничнаяВыручка.date_time_iddoc >= '20180125'
	--AND Бух_Документ_РозничнаяВыручка.date_time_iddoc <= '20180125z'
	--AND Бух_Документ_РозничнаяВыручка.closed &1=1
	--AND Бух_Документ_РозничнаяВыручка.ФирмаIDD IN ('10015480660352695')
GROUP BY
	--Бух_Документ_РозничнаяВыручка.iddoc,
	--LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4),
	CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.ТоварIDD
		WHEN '  C2' THEN Бух_ДокументСтроки_ПриходнаяНакладная.ТоварIDD
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.ТоварIDD
	END
	HAVING 
      	SUM(CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.Количество
		WHEN '  C2' THEN -Бух_ДокументСтроки_ПриходнаяНакладная.Количество
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.Количество
	END) <> 0
    AND
	 	SUM(CASE LEFT(Бух_ДокументСтроки_РозничнаяВыручка.ДокID13, 4)
		WHEN '  BE' THEN Бух_ДокументСтроки_РасходнаяНакладная.Сумма
		WHEN '  C2' THEN -Бух_ДокументСтроки_ПриходнаяНакладная.Сумма
		ELSE Бух_ДокументСтроки_ОтчетКассовойСмены.Сумма
	END) <> 0

ORDER BY
	ТоварIDD