
SELECT
	[ID]
	,[ismark]
	,[Код]
	,[Наименование]
	,[ВладелецID]
	,[ВладелецIDD]
	,[IDD]
	,[Порядок]
	,[АкцияID]
	,[АкцияIDD]
	,[РаскраскаID]
	,[РаскраскаIDD]
FROM 
	[RIASSE].[dbo].[Бух_Справочник_НаборыДляТиповРаскрасокТоваров]