
SELECT 
	[ID]
	,[ismark]
	,[Код]
	,[Наименование]
	,[IDD]
	,[ТипАкцииID]
	,[ТипАкцииIDD]
	,[СкидкаПоДисконтуID]
	,[СкидкаПоДисконту_Идентификатор]
	,[СкидкаПоКопилкеID]
	,[СкидкаПоКопилке_Идентификатор]
	,[ОграничениеПоДисконтуID]
	,[ОграничениеПоДисконту_Идентификатор]
	,[ОграничениеНачисленияВРID]
	,[ОграничениеНачисленияВР_Идентификатор]
	,[ТипМагазинаID]
	,[ТипМагазина_Идентификатор]
	,[Раскраска]
	,[ШаблонЦенникаID]
	,[ШаблонЦенникаIDD]
	,[ЦветБумагиID]
	,[ЦветБумагиIDD]
	,[АвторID]
	,[АвторIDD]
	,[ДатаСоздания]
	,[ИмяОбработки]
FROM
	[RIASSE].[dbo].[Бух_Справочник_АкцииДляКассы]