
SELECT 
	[ID]
	,[ismark]
	,[Код]
	,[Наименование]
	,[ЭтоГруппа]
	,[IDD]
	,[АкционныйТоварID]
	,[АкционныйТовар_Идентификатор]
	,[ДатаСоздания]
	,[Комментарий]
FROM	
	[RIASSE].[dbo].[Бух_Справочник_Номенклатура]
where	
	[Наименование] LIKE 'COLGATE CN03105A%'