SELECT 
         Бух_Справочник_ПрочиеДоходыИРасходы.IDD,
         Бух_Справочник_ПрочиеДоходыИРасходы.ismark,
         Бух_Справочник_ПрочиеДоходыИРасходы.Код,
         Бух_Справочник_ПрочиеДоходыИРасходы.Наименование,
         Бух_Справочник_ПрочиеДоходыИРасходы.ВидПрочихДоходовИРасходов_Идентификатор

FROM Бух_Справочник_ПрочиеДоходыИРасходы
