SELECT
	CAST(Бух_Справочник_Номенклатура.ismark AS int) AS ismark, 
	Бух_Справочник_Номенклатура.Код, 
	Бух_Справочник_Номенклатура.Артикул, 
	НоменклатураИзРегистра.ТоварIDD, 
	Бух_Справочник_Номенклатура.Наименование, 
	Бух_Справочник_Номенклатура.ОКДП,
	БазоваяЕдиница.Код AS БазоваяЕдиницаИзмеренияКод,
	БазоваяЕдиница.Наименование AS БазоваяЕдиницаИзмеренияНаименование,
	Бух_Справочник_Номенклатура.ВидНоменклатурыID, 
	Бух_Справочник_ВидыНоменклатуры.Наименование AS ВидНоменклатуры, 
	Бух_Справочник_Номенклатура.ВидТовараID, 
	Перечисление_ВидыТоваров.Идентификатор AS ВидТовара, 
	Бух_Справочник_Номенклатура.Комментарий, 
	Бух_Справочник_Номенклатура.СтавкаНДСID, 
	Бух_Справочник_Страны.Код AS СтранаПроисхожденияКод, 
	Бух_Справочник_Номенклатура.ИмпортерIDD

FROM 
(
SELECT DISTINCT
	ДвиженияТовара.ТоварIDD
FROM 
	dbo.Бух_РегистрДвижения_ПартииТоваров AS ДвиженияТовара
WHERE
	ДвиженияТовара.date_time_iddoc >= '20180201'
	AND ДвиженияТовара.date_time_iddoc <= '20180228z'

UNION

SELECT DISTINCT
	ОстаткиТовара.ТоварIDD
FROM 
	dbo.Бух_РегистрОстатки_ПартииТоваров AS ОстаткиТовара
WHERE
	ОстаткиТовара.period = '20180201'
) AS НоменклатураИзРегистра
	LEFT JOIN Бух_Справочник_Номенклатура ON НоменклатураИзРегистра.ТоварIDD = Бух_Справочник_Номенклатура.IDD
	LEFT JOIN Бух_Справочник_Страны ON Бух_Справочник_Номенклатура.СтранаПроисхожденияID = Бух_Справочник_Страны.ID 
	LEFT JOIN Перечисление_ВидыТоваров ON Бух_Справочник_Номенклатура.ВидТовараID = Перечисление_ВидыТоваров.ID 
	LEFT JOIN Бух_Справочник_ВидыНоменклатуры ON Бух_Справочник_Номенклатура.ВидНоменклатурыID = Бух_Справочник_ВидыНоменклатуры.ID
	LEFT JOIN Бух_Справочник_КлассификаторЕдИзм AS БазоваяЕдиница ON Бух_Справочник_Номенклатура.БазоваяЕдиницаID = БазоваяЕдиница.ID

WHERE
	Бух_Справочник_Номенклатура.ВидТовараID = '    J4   '
ORDER BY 
	Бух_Справочник_Номенклатура.Код
