
SELECT 
	Договора.ismark,
	Договора.ID,
	'' AS Используем, 
	Договора.Наименование AS Договор,
	Контрагенты.Наименование AS Контрагент,
	Фирмы.Наименование AS Организация,
	Договора.ВладелецIDD AS КонтрагентИДД,
	Договора.ФирмаIDD AS ОрганизацияИДД,
	Договора.IDD AS ДоговораИДД
	
FROM
	[Бух_Справочник_Договора] AS Договора
		LEFT JOIN Бух_Справочник_Фирмы AS Фирмы ON Договора.ФирмаIDD = Фирмы.IDD
		LEFT JOIN dbo.Бух_Справочник_Контрагенты AS Контрагенты ON Договора.ВладелецIDD = Контрагенты.IDD 
WHERE 
  	[ВладелецIDD] IN ('10015480527512185', '10015480527511162')
  	AND [ФирмаIDD] IN ( SELECT Бух_Справочник_Фирмы.IDD 
  						FROM Бух_Справочник_Фирмы 
  						WHERE 
  							Бух_Справочник_Фирмы.IDD NOT IN ('10015480680368847', '10015480748078260', '10015480626553528', '10015480725651042', '10015480544623423')
  							AND Бух_Справочник_Фирмы.ИНН <> ''
							AND Бух_Справочник_Фирмы.НеОтображатьФирму = 0
							AND Бух_Справочник_Фирмы.IDD <> ''
  						)
ORDER BY  
	Фирмы.Наименование,
	Контрагенты.Наименование