IF OBJECT_ID(N'tempdb..#Документ_КорректировкаСФ', N'U') IS NOT NULL 
DROP TABLE #Документ_КорректировкаСФ;

IF OBJECT_ID(N'tempdb..#Документ_Счет_фактура', N'U') IS NOT NULL 
DROP TABLE #Документ_Счет_фактура;

SELECT
	Бух_Документ_КорректировкаСФ.date_time_iddoc,
	Бух_Документ_КорректировкаСФ.НомерДок,
	Бух_Документ_КорректировкаСФ.ДатаДок,
	Бух_Документ_КорректировкаСФ.closed,
	Бух_Документ_КорректировкаСФ.ismark,
	Бух_Документ_КорректировкаСФ.iddoc,
	Бух_Документ_КорректировкаСФ.IDD,
	Бух_Документ_КорректировкаСФ.ФирмаIDD,
	Бух_Документ_КорректировкаСФ.АвторIDD,
	Бух_Документ_КорректировкаСФ.Комментарий,
	Бух_Документ_КорректировкаСФ.Основание,
	Бух_Документ_КорректировкаСФ.СкладIDD,
	Бух_Документ_КорректировкаСФ.КлиентIDD,
	Бух_Документ_КорректировкаСФ.НаВозврат,
	Бух_Документ_КорректировкаСФ.НДС,
	Бух_Документ_КорректировкаСФ.Сумма,
	Бух_Документ_КорректировкаСФ.ДокументОснованиеIDD,
	Бух_Документ_КорректировкаСФ.ДокИнициаторIDD
INTO #Документ_КорректировкаСФ
FROM 
	Бух_Документ_КорректировкаСФ
WHERE
	Бух_Документ_КорректировкаСФ.date_time_iddoc >= '20180101'  
	AND Бух_Документ_КорректировкаСФ.date_time_iddoc <= '20181231z'

SELECT
	Бух_Документ_Счет_фактура.IDD AS  СчетфактураИДД,
	Бух_Документ_Счет_фактура.ДокументОснованиеIDD AS РасходнаяНакладнаяИДД,
	Бух_Документ_РасходнаяНакладная.ВидРасходаТабл AS НакладнаяВидРасходаТабл
INTO #Документ_Счет_фактура 
FROM
	Бух_Документ_Счет_фактура
	LEFT JOIN Бух_Документ_РасходнаяНакладная
		ON Бух_Документ_Счет_фактура.ДокументОснованиеIDD = Бух_Документ_РасходнаяНакладная.IDD 
WHERE
	Бух_Документ_Счет_фактура.IDD IN (SELECT t1_Документ_КорректировкаСФ.ДокументОснованиеIDD FROM #Документ_КорректировкаСФ AS t1_Документ_КорректировкаСФ)

SELECT
	КорректировкаСФ.date_time_iddoc,
	КорректировкаСФ.НомерДок,
	КорректировкаСФ.ДатаДок,
	КорректировкаСФ.closed,
	КорректировкаСФ.ismark,
	КорректировкаСФ.НаВозврат,
	Счет_фактура.НакладнаяВидРасходаТабл,
	КорректировкаСФ.iddoc,
	КорректировкаСФ.IDD,
	КорректировкаСФ.ДокументОснованиеIDD,
	КорректировкаСФ.ДокИнициаторIDD,
	Счет_фактура.РасходнаяНакладнаяИДД AS РасходнаяНакладнаяIDD, 
	КорректировкаСФ.ФирмаIDD,
	КорректировкаСФ.СкладIDD,
	КорректировкаСФ.КлиентIDD,
	КорректировкаСФ.АвторIDD,
	КорректировкаСФ.Основание,
	КорректировкаСФ.Комментарий,
	КорректировкаСФ.НДС,
	КорректировкаСФ.Сумма
	

FROM 
	#Документ_КорректировкаСФ AS КорректировкаСФ
	LEFT JOIN #Документ_Счет_фактура AS Счет_фактура 
		ON КорректировкаСФ.ДокументОснованиеIDD = Счет_фактура.СчетфактураИДД
ORDER BY
	КорректировкаСФ.date_time_iddoc  
