USE RIASSE

SELECT  
	LTRIM(RTRIM(ДокументСтроки_РозничнаяВыручка.ВидОтгрузки)) AS ВидОтгрузки,
	LTRIM(RTRIM(ДокументСтроки_РозничнаяВыручка.ВидОплаты)) AS ВидОплаты,
	--SUM(ДокументСтроки_РозничнаяВыручка.Сумма) AS Сумма
	ДокументСтроки_РозничнаяВыручка.Сумма AS Сумма

FROM dbo.Бух_ДокументСтроки_РозничнаяВыручка AS ДокументСтроки_РозничнаяВыручка

WHERE
	ДокументСтроки_РозничнаяВыручка.iddoc = ' 7533L   '
	--AND ВидОплаты = 'Копилка'
	
--GROUP BY
--	ВидОплаты,
--	ВидОтгрузки
ORDER BY
	ВидОтгрузки, ВидОплаты
