USE RIASSE

SET NOCOUNT ON

SELECT 
	--CAST(РозничныеПродажи.closed AS INT) AS closed,
	--CAST(РозничныеПродажи.ismark AS INT) AS ismark,
	--РозничныеПродажи.date_time_iddoc AS date_time_iddoc,
	--РозничныеПродажи.iddoc AS iddoc,
	--РозничныеПродажи.IDD AS IDD,
	РозничныеПродажи.ДатаДок AS Дата,
	РозничныеПродажи.НомерДок AS Номер,
	--РозничныеПродажи.ФирмаIDD AS ФирмаIDD,
	--РозничныеПродажи.СкладIDD AS СкладIDD,
	--LOWER(convert(varchar(32),substring(CONVERT(varchar(max), HashBytes('MD5', РозничныеПродажи.ФирмаIDD+РозничныеПродажи.СкладIDD),1), 18, 32))) AS ХешСкладаIDD, 
	--LOWER(convert(varchar(32),substring(CONVERT(varchar(max), HashBytes('MD5', РозничныеПродажи.ФирмаIDD+ПодразделенияТорговли.IDD),1), 18, 32))) AS ХешПодразделенияIDD, 
	--РозничныеПродажи.Комментарий AS Комментарий,
	РозничныеПродажи.СуммаВсего AS СуммаДокумента,
	РозничныеПродажи.Сумма0 AS Сумма0_Себестоимость0,
	РозничныеПродажи.Сумма10 AS Сумма10_Себестоимость10,
	РозничныеПродажи.Сумма18 AS Сумма18_Себестоимость18,
	РозничныеПродажи.Себестоимость0 AS Себестоимость0,
	РозничныеПродажи.Себестоимость10 AS Себестоимость10,
	РозничныеПродажи.Себестоимость18 AS Себестоимость18,
	РозничныеПродажи.Количество0 AS Количество0,
	РозничныеПродажи.Количество10 AS Количество10,
	РозничныеПродажи.Количество18 AS Количество18
          
FROM  
	[dbo].[Бух_Документ_РозничнаяВыручка] AS РозничныеПродажи
		LEFT JOIN Бух_Справочник_МестаХранения AS МестаХранения with (forceseek)
			ON (РозничныеПродажи.СкладID = МестаХранения.ID)
		LEFT JOIN Бух_Справочник_Подразделения AS ПодразделенияТорговли with (forceseek)
			ON МестаХранения.ВладелецID = ПодразделенияТорговли.ID
WHERE
	РозничныеПродажи.CLOSED &1=1
	AND РозничныеПродажи.date_time_iddoc >= '20190101'
	AND РозничныеПродажи.date_time_iddoc <= '20191231z'
	AND РозничныеПродажи.ФирмаIDD NOT IN ('10015480680368847', '10015480748078260', '10015480626553528', '10015480725651042', '10015480544623423')
	--AND РозничныеПродажи.IDD = '90000000295523700'
 	AND РозничныеПродажи.ФирмаIDD = '10015480660352695'
 	--AND (РозничныеПродажи.НомерДок = 'ММРзВЦ01-000169'
		--OR РозничныеПродажи.НомерДок = 'ММРзВЦ01-000170')
	AND (РозничныеПродажи.Сумма0 <> РозничныеПродажи.Себестоимость0
		OR РозничныеПродажи.Сумма10 <> РозничныеПродажи.Себестоимость10
		OR РозничныеПродажи.Сумма18 <> РозничныеПродажи.Себестоимость18
		)	
	
ORDER BY 
	РозничныеПродажи.date_time_iddoc
	