
SELECT
	--ОтчетКассовойСменыСтроки.СтатусЧека_Идентификатор,
	ОтчетКассовойСменыСтроки.iddoc AS iddoc,
	ОтчетКассовойСменыСтроки.ТоварIDD AS ТоварIDD, 
	ОтчетКассовойСменыСтроки.Количество AS Количество,
	ОтчетКассовойСменыСтроки.ЕдиницаIDD AS ЕдиницаIDD,
	ЕденицыИзмерения.Наименование AS ЕдИзм,
	ОтчетКассовойСменыСтроки.Цена AS Цена,
	ОтчетКассовойСменыСтроки.Сумма AS Сумма,
	ОтчетКассовойСменыСтроки.НДС AS НДС
FROM 
	dbo.Бух_ДокументСтроки_ОтчетКассовойСмены AS ОтчетКассовойСменыСтроки
		LEFT JOIN dbo.Бух_Справочник_Единицы AS ЕденицыИзмерения
			ON ЕденицыИзмерения.ID = ОтчетКассовойСменыСтроки.ЕдиницаID
WHERE
	ОтчетКассовойСменыСтроки.iddoc = ' 6OACF   '
	AND ОтчетКассовойСменыСтроки.СтатусЧека_Идентификатор = 'Продажа'