SELECT 
	 [iddoc]
    ,[ТоварIDD]
    ,[Количество]
    ,[Коэффициент]
    ,[ЦенаЗак]
    ,[СуммаЗак]
  
FROM 
	[RIASSE].[dbo].[Бух_ДокументСтроки_Списание]
 WHERE
	[iddoc] = ' 56WJ9   '
	