SELECT 
    1 AS ВидДокумента,
    Документ_ДебетНота.date_time_iddoc,
	Документ_ДебетНота.IDD,
	Документ_ДебетНота.НомерДок,
	Документ_ДебетНота.ДатаДок,
	Документ_ДебетНота.closed,
	Документ_ДебетНота.ismark,
	Документ_ДебетНота.ФирмаIDD,
	Документ_ДебетНота.Комментарий,
	Документ_ДебетНота.ДоговорIDD,
	Документ_ДебетНота.КлиентIDD,
	Документ_ДебетНота.Приложение,
	Документ_ДебетНота.СтавкаНДСID,
	Документ_ДебетНота.Сумма
FROM Бух_Документ_ДебетНота AS Документ_ДебетНота
WHERE Документ_ДебетНота.date_time_iddoc >= '20180101'
	AND Документ_ДебетНота.date_time_iddoc <= '20180131z'
	AND Документ_ДебетНота.ФирмаIDD NOT IN ('10015480680368847', '10015480748078260', '10015480626553528', '10015480725651042', '10015480544623423')
	AND Документ_ДебетНота.Комментарий LIKE '%Премия %'
	
UNION ALL

SELECT 
    2 AS ВидДокумента,
    Документ_КредитНота.date_time_iddoc,
	Документ_КредитНота.IDD,
	Документ_КредитНота.НомерДок,
	Документ_КредитНота.ДатаДок,
	Документ_КредитНота.closed,
	Документ_КредитНота.ismark,
	Документ_КредитНота.ФирмаIDD,
	Документ_КредитНота.Комментарий,
	Документ_КредитНота.ДоговорIDD,
	Документ_КредитНота.КлиентIDD,
	Документ_КредитНота.Приложение,
	Документ_КредитНота.СтавкаНДСID,
	Документ_КредитНота.Сумма
FROM Бух_Документ_КредитНота AS Документ_КредитНота
WHERE Документ_КредитНота.date_time_iddoc >= '20180101'
	AND Документ_КредитНота.date_time_iddoc <= '20180131z'
	AND Документ_КредитНота.ФирмаIDD NOT IN ('10015480680368847', '10015480748078260', '10015480626553528', '10015480725651042', '10015480544623423')
	AND Документ_КредитНота.Комментарий LIKE '%Премия %'
ORDER BY
	date_time_iddoc,
	ФирмаIDD	
	
