USE RIASSE

SET NOCOUNT ON

DECLARE @Today datetime
SET @Today = '20200312'
DECLARE @DateStart datetime
SET @DateStart = '20200101'
DECLARE @DateFinal datetime
SET @DateFinal = '20200430'

DECLARE @ТипРаскраскиСтараяIDD char(17)
SET @ТипРаскраскиСтараяIDD = '10015480867933597'
DECLARE @ТипРаскраскиЭльситиIDD char(17)
SET @ТипРаскраскиЭльситиIDD = '10015480867933684'
DECLARE @ТипРаскраскиКомандорIDD char(17)
SET @ТипРаскраскиКомандорIDD = '10015480867933617'

DECLARE @ЭльситиАкцияКаталог char(9)
SET @ЭльситиАкцияКаталог = '     A   '
DECLARE @ЭльситиАкцияЖелтыйЦенник char(9)
SET @ЭльситиАкцияЖелтыйЦенник = '     9   '

DECLARE @ЭльситиКаталогНачало numeric(8,0)
SET @ЭльситиКаталогНачало = 8421631
DECLARE @ЭльситиКаталогКонец numeric(8,0)
SET @ЭльситиКаталогКонец = 183
	
DECLARE @ЭльситиЖелтыйЦенникНачало numeric(8,0)
SET @ЭльситиЖелтыйЦенникНачало = 13303807
DECLARE @ЭльситиЖелтыйЦенникКонец numeric(8,0)
SET @ЭльситиЖелтыйЦенникКонец = 52942

DECLARE @СтарыйТовар varchar(9)
SET @СтарыйТовар = '   9JL   '

;

WITH Действия (КодТовара, ТоварIDD, ТипыРаскрасокТоваровIDD, ТипМагазина, Приоритет, Цвет, ДатаНачала, ДатаОкончания, ВидАкции)
AS (
SELECT
	Справочник_Номенклатура.CODE AS КодТовара
	,Справочник_Номенклатура.sp6353 AS ТоварIDD
	,@ТипРаскраскиЭльситиIDD AS ТипыРаскрасокТоваровIDD
	,'Эльсити' AS ТипМагазина
	,(CASE
		WHEN @Today >= Справочник_Действия.sp12659 AND @Today <= Справочник_Действия.sp12660
			THEN 2
		WHEN @Today < Справочник_Действия.sp12659
			THEN 2 * 20
		WHEN @Today > Справочник_Действия.sp12660
			THEN 2 * 30
	END) AS Приоритет
	,(CASE
		WHEN @Today >= Справочник_Действия.sp12659 AND @Today <= Справочник_Действия.sp12660
			THEN Справочник_АкцииДляКассы.sp12833 
		WHEN @Today >= DATEADD(DAY, -14, Справочник_Действия.sp12659) AND @Today < Справочник_Действия.sp12659
			--AND Справочник_Действия.sp10727 = @ЭльситиАкцияКаталог
				THEN @ЭльситиКаталогНачало
		WHEN @Today > Справочник_Действия.sp12660 AND @Today <= DATEADD(DAY, 14, Справочник_Действия.sp12660)
			--AND Справочник_Действия.sp10727 = @ЭльситиАкцияКаталог
				THEN @ЭльситиКаталогКонец
		WHEN @Today >= DATEADD(year, -7, Справочник_Действия.sp12659) AND @Today < Справочник_Действия.sp12659
			--AND Справочник_Действия.sp10727 = @ЭльситиАкцияЖелтыйЦенник
				THEN @ЭльситиЖелтыйЦенникНачало
		WHEN @Today > Справочник_Действия.sp12660 AND @Today <= DATEADD(DAY, 7, Справочник_Действия.sp12660)
			--AND Справочник_Действия.sp10727 = @ЭльситиАкцияЖелтыйЦенник
				THEN @ЭльситиЖелтыйЦенникКонец
		ELSE
		0
	END) AS Цвет
	,Справочник_Действия.sp12659 AS ДатаНачала
	,Справочник_Действия.sp12660 AS ДатаОкончания
	,Справочник_Действия.sp10727 AS ВидАкции


FROM 
	sc7440 AS Справочник_Действия WITH (NOLOCK)
	JOIN sc33 AS Справочник_Номенклатура WITH (NOLOCK)
		ON Справочник_Действия.sp7434 = Справочник_Номенклатура.ID
	JOIN sc12665 AS Справочник_АкцииДляКассы WITH (NOLOCK)
		ON Справочник_Действия.sp10727 = Справочник_АкцииДляКассы.ID
WHERE
	Справочник_Действия.sp10727 IN ('     0   ','     0   ','     9   ','     2   ','     3   ','     1   ','     A   ','     B   ','     0   ','     0   ','     I   ','     D   ' )
	AND Справочник_Действия.sp12659 < Справочник_Действия.sp12660
	)

SELECT 
	 Действия.КодТовара
	,Действия.ТипыРаскрасокТоваровIDD
	,Действия.ТипМагазина
	,Действия.Приоритет
	,Действия.Цвет
	,Действия.ДатаНачала
	,@Today AS Сегодня
	,Действия.ДатаОкончания
	,Действия.ВидАкции

FROM
	Действия
WHERE
	Цвет <> 0
--	--AND @Today <= DATEADD(DAY, 10, Действия.ДатаОкончания)
	AND КодТовара IN (' 36386')
ORDER BY
	КодТовара, Действия.ДатаНачала