
SELECT 
	[ID]
	,[ismark]
	,[Код]
	,[Наименование]
	,[Реквизит]
	,[ПризнакСравненияID]
	,[ПризнакСравнения_Идентификатор]
	,[Значение]
	,[Значение_Тип]
	,[Значение_ТипСтрокой]
	,[Значение_Вид]
	,[Значение_IDD]
	,[Раскраска]
	,[Формула]
	,[IDD]
FROM
	[RIASSE].[dbo].[Бух_Справочник_РаскраскаТоваров]