SELECT БанковскиеСчета.ismark AS ПометкаУдаления ,
         БанковскиеСчета.Наименование AS Наименование ,
         БанковскиеСчета.ВладелецID AS ВладелецID ,
         БанковскиеСчета.ВладелецIDD AS ВладелецIDD ,
         БанковскиеСчета.Корреспондент AS ТекстКорреспондента ,
         БанковскиеСчета.Назначение AS ТекстНазначения ,
         БанковскиеСчета.Номер AS НомерСчета ,
         БанковскиеСчета.ПрямыеРасчеты AS ПрямыеРасчеты ,
         БанковскиеСчета.IDD AS РасчетныеСчетаIDD ,
         БанкОрганизации.Код AS БанкОрганизацииБИК ,
         БанкОрганизации.Наименование AS БанкОрганизацииНаименование ,
         БанкОрганизации.Местонахождение AS БанкОрганизацииМестонахождение ,
         БанкОрганизации.КоррСчет AS БанкОрганизацииКоррСчет ,
         БанкОрганизации.Адрес AS БанкОрганизацииАдрес ,
         БанкОрганизации.Телефоны AS БанкОрганизацииТелефоны ,
         БанкДляРасчетов.Наименование AS БанкДляРасчетовНаименование ,
         БанкДляРасчетов.Местонахождение AS БанкДляРасчетовМестонахождение ,
         БанкДляРасчетов.КоррСчет AS БанкДляРасчетовКоррСчет ,
         БанкДляРасчетов.Код AS БанкДляРасчетовБИК ,
         БанкДляРасчетов.Адрес AS БанкДляРасчетовАдрес ,
         БанкДляРасчетов.Телефоны AS БанкДляРасчетовТелефоны
FROM 
    (SELECT Бух_Справочник_РасчетныеСчета.ismark ,
         Бух_Справочник_РасчетныеСчета.Наименование ,
         Бух_Справочник_РасчетныеСчета.ВладелецID ,
         Бух_Справочник_РасчетныеСчета.ВладелецIDD ,
         CAST(Бух_Справочник_РасчетныеСчета.Корреспондент AS NVARCHAR(500)) AS Корреспондент ,
         CAST(Бух_Справочник_РасчетныеСчета.Назначение AS NVARCHAR(210) ) AS Назначение ,
         Бух_Справочник_РасчетныеСчета.Номер ,
         Бух_Справочник_РасчетныеСчета.ПрямыеРасчеты ,
         Бух_Справочник_РасчетныеСчета.IDD ,
         Бух_Справочник_РасчетныеСчета.БанкОрганизацииID ,
         Бух_Справочник_РасчетныеСчета.БанкДляРасчетовID
    FROM Бух_Справочник_РасчетныеСчета
    UNION
    SELECT Бух_Справочник_БанковскиеСчета.ismark AS ПометкаУдаления ,
        Бух_Справочник_БанковскиеСчета.Наименование AS Наименование ,
        Бух_Справочник_БанковскиеСчета.ВладелецID AS КонтрагентID ,
        Бух_Справочник_БанковскиеСчета.ВладелецIDD AS КонтрагентIDD ,
        CAST(Бух_Справочник_БанковскиеСчета.Корреспондент AS NVARCHAR(500)) ,
        CAST('' AS NVARCHAR(210) ) ,Бух_Справочник_БанковскиеСчета.Номер ,Бух_Справочник_БанковскиеСчета.ПрямыеРасчеты ,Бух_Справочник_БанковскиеСчета.IDD ,Бух_Справочник_БанковскиеСчета.БанкОрганизацииID ,Бух_Справочник_БанковскиеСчета.БанкДляРасчетовID
    FROM dbo.Бух_Справочник_БанковскиеСчета AS Бух_Справочник_БанковскиеСчета ) AS БанковскиеСчета
LEFT JOIN Бух_Справочник_Банки AS БанкОрганизации
    ON БанковскиеСчета.БанкОрганизацииID = БанкОрганизации.ID
LEFT JOIN Бух_Справочник_Банки AS БанкДляРасчетов
    ON БанковскиеСчета.БанкДляРасчетовID = БанкДляРасчетов.ID
WHERE БанковскиеСчета.ВладелецIDD = '10015480000092117' 