IF OBJECT_ID(N'tempdb..#СкладыИПодразделения', N'U') IS NOT NULL 
DROP TABLE #СкладыИПодразделения;

SELECT
	МестаХранения.IDD AS СкладИДД,
	МестаХранения.Наименование СкладНаименование,
	ПодразделенияТорговли.IDD AS ПодразделенияИДД,
	ПодразделенияТорговли.Наименование ПодразделенияНаименование

INTO #СкладыИПодразделения

FROM
	Бух_Справочник_МестаХранения AS МестаХранения
	LEFT JOIN Бух_Справочник_Подразделения AS ПодразделенияТорговли
		ON МестаХранения.ВладелецIDD = ПодразделенияТорговли.IDD 

SELECT TOP (1000) 
	[date_time_iddoc]
	,[IDD]
	,[НомерДок]
	,[ДатаДок]
	,[ФирмаIDD]
	,[СкладIDD]
	,ТаблицаСкладовПодразделений.СкладНаименование
	,ТаблицаСкладовПодразделений.ПодразделенияИДД
	,ТаблицаСкладовПодразделений.ПодразделенияНаименование 
	,HASHBYTES('MD5', [ФирмаIDD]+[СкладIDD]) AS ХешСклада
	,SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('MD5', [ФирмаIDD]+[СкладIDD])), 18, 32) AS ХешСкладаIDD
	,HASHBYTES('MD5', [ФирмаIDD]+ТаблицаСкладовПодразделений.ПодразделенияИДД) AS ХешПодразделения
	,SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('MD5', [ФирмаIDD]+ТаблицаСкладовПодразделений.ПодразделенияИДД)), 18, 32) AS ХешПодразделенияIDD
	
FROM 
	[RIASSE].[dbo].[Бух_Документ_ПриходнаяНакладная]
	LEFT JOIN #СкладыИПодразделения AS ТаблицаСкладовПодразделений
		ON [СкладIDD] = ТаблицаСкладовПодразделений.СкладИДД
 
where date_time_iddoc >='20180101'  and date_time_iddoc <='20180131z'

ORDER BY
	[ФирмаIDD]
	,[СкладIDD]